* {
    margin: auto;
}

.title {
    text-align: center;
    margin-top: 5%;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: rgb(82, 82, 82);
    text-shadow: 3px 3px 5px #575656d5;
}

.color-block {
    height: 450px;
    width: 450px;
    padding-bottom: 20px;
    position: absolute;
    left: 36.5%;
    top: 25%;
    box-shadow:  6px 6px 12px #c5c5c5,
             -6px -6px 12px #fbfbfb;
}

.btn {
    position: absolute;
    left: 47.5%;
    top: 90%;
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: none;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #c5c5c5,
             -6px -6px 12px #fbfbfb;
    
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 8px 6px -6px black;
}

.btn:focus {
    outline: none;
}

.btn:active {
  transform: translateY(4px);
}
